
.flexbox.wrap
  .post-wrap
    h1 About
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis est quasi, inventore autem eveniet, dolorum animi voluptatibus vitae accusantium soluta, in doloremque, ipsam perspiciatis officia excepturi odio esse cumque adipisci.
