#menu.slideout-menu.slideout-closed
  .flexbox
    nav
      h2 Menu
      a(href='{{ site.url }}') Home
      a(href='{{ site.url }}/about.html') About
      a(href='#') Contact
      a(href='#') Archives

    div.details
      b Portland Theme
      p A Jekyll Theme
      p.small  A theme for artists, creatives, ponderers and anyone else looking for a clean, responsive, and modern Jekyll theme.

#menu.topNavbar
  nav
    a(href='{{ site.url }}') Home
    a(href='{{ site.url }}/about.html') About
    a(href='#') Contact
    a(href='#') Archives      
