#menu.slideout-menu.slideout-closed
  .flexbox
    nav
      h4 Pages
      a(href='{{ site.url }}') Home
      a(href='{{ site.url }}/about.html') About
      a(href='{{ site.url }}/archives.html') Archives
      h4 Categories
      a(href='{{ site.url }}/categories/category1.html') Category 1

    div.details
      b {{site.title}}
      p A Jekyll Theme
      p  
        | A minimal theme Jekyll theme with all the basics you need. Designed by 
        a Nina
        |   , and free on 
        a Github
