#menu.slideout-menu.slideout-closed
  .flexbox
    nav
      h2 Menu
      a(href='{{ site.url }}') Home
      a(href='{{ site.url }}/about.html') About
      h2 Categories
      a(href='{{ site.url }}/categories/category1.html') Category 1
      a(href='#') Category 2
      a(href='{{ site.url }}/categories/archives.html') Archives

    div.details
      b {{site.title}}
      p A Jekyll Theme
      p  
        | A minimal theme Jekyll theme with all the basics you need. Designed by 
        a Nina
        |   , and free on 
        a Github
